<div
    class="payment-form">
    <h2 class="text-center">Select Your Country</h2>
    <app-autocomplete
        *ngIf="countries && geolocation"
        [countries]="countries"
        [userGeolocation]="geolocation"
        (setCountry)="onSetCountry($event)">
    </app-autocomplete>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <h6 class="text-center">Choose Your Payment Method</h6>
            <app-payment-method
                [paymentSystems]="paymentSystems"
                (selectPaymentSystem)="onSelectPaymentSystem($event)">
            </app-payment-method>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12">
            <div
                *ngIf="paymentSystemActive"
                [@fade]>
                <app-card-form
                    (pay)="onPay()">
                </app-card-form>
            </div>
        </div>
    </div>
</div>