<div class="form-input form-group" [formGroup]="form">
    <label [for]="controlName">{{ label }}</label>
    <input
        type="text"
        [name]="controlName"
        [formControlName]="controlName"
        [placeholder]="placeholder"
        required
        (focus)="onFocus()"
        (blur)="onBlur()"
        class="form-control"
        [maxLength]="maxLength"
        [ngClass]="{
            'border-danger': isInvalid,
            'border-success': !isInvalid && !isFocus
        }">
    <svg
        *ngIf="!isInvalid && !isFocus"
        class="form-input__icon"
        width="24"
        height="24"
        viewBox="0 0 448.8 448.8">
        <use xlink:href="./assets/icons.svg#success"></use>
    </svg>
    <app-validation-error-message
        [isFocus]="isFocus"
        [controlName]="controlName"
        [control]="control">
    </app-validation-error-message>
</div>