@import 'mixins';
@import 'variables';

.payment-systems__item {
    cursor: pointer;
    transition: border-color .3s;
    margin: 0.25rem;

    &:hover {
        @media screen and (min-width:0\0) {
            border-color: $dark !important;
        }
    }

    @include remove-touch-hover() {
        border-color: $dark !important;

        @supports (-moz-appearance:meterbar) or (-webkit-appearance:none) {
            border-color: $dark !important;
        }
    }
}

.payment-systems__img {
    width: 3.125rem;
    margin-right: 0.3125rem;
}

@media screen and (max-width: $mobile-break) {
    .payment-systems__item {
        width: 100%;
    }
}
