<div class="payment-systems">
    <div class="payment-systems__list d-flex flex-column">
        <div
            class="payment-systems__item border bg-white d-flex align-items-center"
            [ngClass]="{
                'border-primary': system.id === paymentSystemActiveId
            }"
            (click)="onSelectPaymentSystem(system)"
            *ngFor="let system of paymentSystems">
            <img
                [src]="system.img_url"
                class="payment-systems__img"
                [alt]="system.name">
            {{ system.name }}
        </div>
    </div>
</div>
