@import 'mixins';
@import 'variables';

.autocomplete {
    position: relative;
}

.autocomplete__input {
    &:focus {
        box-shadow: none;
    }
}

.autocomplete__cheap {
    position: absolute;
    top: 0.1875rem;
    left: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid $lightgray;
    background-color: $lightcyan;
    width: 15.625rem;
    height: 2rem;
}

.autocomplete__close {
    font-size: 1.5rem;
    cursor: pointer;
}

.autocomplete__list {
    position: absolute;
    left: 0;
    top: 2.375rem;
    width: 100%;
    max-height: 15.625rem;
    overflow-y: auto;
    z-index: 1;
}

.autocomplete__item {
    padding: 0.3125rem;
    transition: background-color .3s;
    margin-bottom: 0;
    cursor: pointer;

    &:hover {
        @media screen and (min-width:0\0) {
            background-color: $lightgray;
        }
    }

    @include remove-touch-hover() {
        background-color: $lightgray;

        @supports (-moz-appearance:meterbar) or (-webkit-appearance:none) {
            background-color: $lightgray;
        }
    }
}

.autocomplete__icon {
    width: 2.375rem;
    margin-right: 0.25rem;
}