<div class="autocomplete form-group">
    <input
        #input
        class="autocomplete__input form-control"
        type="text"
        (focus)="onShowAutocomplete()"
        [(ngModel)]="countryValue">
    <div
        *ngIf="countryChosen"
        class="autocomplete__cheap d-flex align-items-center justify-content-between">
        <span>
            <img
                class="autocomplete__icon"
                [src]="countryChosen.flag"
                [alt]="countryChosen.name">
            {{ countryChosen.name }}
        </span>
        <svg 
            (click)="onDeleteCountryChosen()"
            class="autocomplete__close" width="24" height="24" viewBox="0 0 24 24">
            <use xlink:href="./assets/icons.svg#cross"></use>
        </svg>
    </div>
    <div
        *ngIf="isShowAutocomplete && !countryChosen"
        [@slideInOut]
        class="autocomplete__list border shadow-sm bg-white rounded">
        <p
            *ngFor="let country of countries | autocompleteFilter: countryValue"
            class="autocomplete__item d-flex align-items-center"
            (click)="onSetCountry(country)">
            <img
                class="autocomplete__icon"
                [src]="country.flag"
                [alt]="country.name">
            {{ country.name }}
        </p>
    </div>
</div>
