<div class="alerts-list">
    <div class="container">
        <div
            *ngFor="let alert of alerts"
            class="alert row"
            role="alert"
            [@flyInOut]>
            <div class="col-lg-2 col-md-2 col-sm-12"></div>
            <div
                class="col-lg-8 col-md-8 col-sm-12 alert"
                [ngClass]="{
                    'alert-primary': alert.type === alertType.primary,
                    'alert-danger': alert.type === alertType.danger,
                    'alert-success': alert.type === alertType.success
                }">
                <svg 
                    (click)="onClose(alert)"
                    class="alert__close" width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="./assets/icons.svg#cross"></use>
                </svg>
                {{ alert.message }}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12"></div>
        </div>
    </div>
</div>
