<div class="card-form card">
    <div class="card-header">
        <h3>Payment Details</h3>
    </div>
    <div class="card-body">
        <form
            [formGroup]="formGroup"
            (submit)="onPay()"
            role="form">
            <app-form-input
                [form]="formGroup"
                [controlName]="'cardHolderName'"
                [placeholder]="'Jason Doe'"
                [label]="'Full name (on the card)'"
                [maxLength]="128">
            </app-form-input>
            <app-form-input
                [form]="formGroup"
                [controlName]="'cardNumber'"
                [placeholder]="'Your card number'"
                [label]="'Card number'"
                [maxLength]="19">
            </app-form-input>
            <div class="row">
                <div class="col-sm-4">
                    <app-form-input
                        [form]="formGroup"
                        [controlName]="'month'"
                        [placeholder]="'MM'"
                        [label]="'Month'"
                        [maxLength]="2">
                    </app-form-input>
                </div>
                <div class="col-sm-4">
                    <app-form-input
                        [form]="formGroup"
                        [controlName]="'year'"
                        [placeholder]="'YYYY'"
                        [label]="'Year'"
                        [maxLength]="4">
                    </app-form-input>
                </div>
                <div class="col-sm-4">
                    <app-form-input
                        [form]="formGroup"
                        [controlName]="'cvv'"
                        [placeholder]="''"
                        [label]="'CVV'"
                        [maxLength]="3">
                    </app-form-input>
                </div>
            </div>
            <button
                type="submit"
                class="btn btn-primary btn-block rounded-pill shadow-sm"
                [disabled]="!formGroup.valid">
                Pay $5
            </button>
        </form>
    </div>
</div>
